@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

html {
  height: 100vh;
  font-family: "Fira Code";
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    rgba(27, 32, 106, 0.03) 10px,
    rgba(27, 32, 106, 0.03) 20px
  );
}

body {
  margin: 0;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid black;
  width: fit-content;
  padding: 1rem;
}

main a:hover {
  filter: brightness(0);
}

main h1 {
  margin-top: 0;
}

#projects ul {
  list-style: none;
  padding: 0;
}

#projects ul li a {
  text-decoration: none;
  color: blue;
}

footer {
  font-size: 2rem;
  text-align: right;
  padding-right: 5px;
}

footer .fa-github {
  color: #4078c0;
}

footer .fa-gitlab {
  color: #fc6d26;
}

footer .fa-linkedin {
  color: #0077b5;
}

footer .fa-discord {
  color: #7289da;
}

footer .fa-steam {
  color: #00adee;
}
