@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
body {
  font-family: "Alata", sans-serif;
  overflow: hidden;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    rgba(27, 32, 106, 0.03) 10px,
    rgba(27, 32, 106, 0.03) 20px
  );
}
.container-fluid {
  background: none;
  margin-top: 10px;
}
#headerPattern {
  height: 20px;
  background: linear-gradient(315deg, transparent 75%, rgb(85, 93, 212) 0) -10px
      0,
    linear-gradient(45deg, transparent 75%, rgb(85, 93, 212) 0) -10px 0,
    linear-gradient(135deg, rgb(43, 51, 167) 50%, transparent 0) 0 0,
    linear-gradient(45deg, rgb(27, 32, 106) 50%, rgb(22, 26, 86) 0) 0 0
      rgb(22, 26, 86);
  background-size: 20px 20px;
}
h1 {
  color: rgb(27, 32, 106);
}
a {
  color: rgb(43, 51, 167);
  text-decoration: none;
}
a:hover {
  color: rgb(85, 93, 212);
}
.btn {
  border-radius: 0;
}
.row > * {
  width: initial;
}
.row ul {
  margin-top: 10px;
}
